.flex_container {
    display: flex;
    width: 100%;
  }
  .flex_item_left {
    width: 20%;
    padding-right: 10px;
    float: left;
  }
  .flex_item_right {
    flex: 1;   
  }

  .poem_body {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10%;
    margin-left: 10%;
  }