.flex_container {
    display: flex;
    width: 100%;
  }
  .flex_item_left {
    width: 200px;
    background: lightgreen;
    padding-right: 10px;
  }
  .flex_item_right {
    flex: 1;
    background: lightblue;
   
  }

  .poem_body {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10%;
    margin-left: 10%;
  }