body {
    font-family: monospace;
    color: rgb(74, 0, 248);
    font-size:larger;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10%;
    margin-left: 10%;
}

.tea_time{
    color: tomato;
}
.impossible_things{
    color: orange;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.trees{
    color: olive;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.candy{
    color: steelblue;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.leaf{
    color: indigo;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.lovely{
    color: violet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.crow{
    color: palevioletred;
    font-family: cursive;
}
