body {
    font-family: monospace;
    color: rgb(74, 0, 248);
    font-size:larger;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20%;
    margin-left: 20%;
}

.tea_time{
    color: tomato;
}
.impossible_things{
    color: seagreen;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
